/* Auteur : Esteban TEMPLIER */

/*         Mes "propriétés personnalisé" contenu dans root         */
:root {
    --bleuBoxShadow:#0065fc4f;
    --bleu: #0065fc;
    --bleuClaire: #deebff;
    --gris: #f2f2f2;
    --grisFonce:#d9d9d9;
    --white:#ffffff;
    --black:#000000;
}

/*             Modification général             */

* {
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
}
body {
    margin: 8px 0 0 0;
}
header {
    margin-left: 50px;
}
h1, H2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}

/*           Bouton de barre de naviguation            */

.btn {
    list-style: none;
    display: inline;
}
.btn a {
    text-decoration: none;
    color: var(--black);
    padding-top: 22.5px;
    padding-left: 35px;
    padding-right: 35px;
}
a:hover, .link a:hover {
    color: var(--bleu);
}
.btn a:hover{
    border-top: var(--bleu) solid 2px;
}

/*            Logo et son comportement par rapport aux bouttons            */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img {
    margin-left: 50px;
    height: 19px;
}

/*       Positionnement du titre     */

.title {
    margin-top: 47px;
}

/*        La barre de recherche        */

.recherche {
    display: flex;
    align-items: center;
}
.icon i, .btnR {
    padding: 14px 16px;
}
.icon i {
    background: var(--gris);
    border-radius: 15px 0 0 15px;
}
.btnri {
    display: none;
}
.btnR {
    border-radius: 0 15px 15px 0;
    background: var(--bleu);
    color: var(--white);
    border: none;
    font-weight: 700;
    letter-spacing: 0.7px;
    cursor: pointer;
}
#search {
    border-color: var(--gris);
    border-style: solid;
    padding: 12px 16px;
}
#search, ::placeholder {
    color: var(--black);
    font-weight: 700;
}

/*           Les filtres           */

.container {
    margin-top: 40px;
    margin-bottom: 40px;
}
.container, .filtre1 {
    display: flex;
    align-items: center;
    font-weight: 700;
}
.container div label {
    cursor: pointer;
}
.container div label input[type="checkbox"] {
    display: none;
}
.container div label span {
    border: var(--grisFonce) 3px solid;
    border-radius: 25px;
    padding: 10px 20px;
    user-select: none;
    flex-wrap: nowrap;
}
.container div label span i {
    padding-right: 5px;
    color: var(--bleu);
}
.filtre {
    padding-right: 45px;
    white-space: nowrap;
}
.container h3 {
    margin: 0;
}

/*       Modification du comportement des filtres via les pseudo class       */

.container div label span:hover {
    background: var(--bleuClaire);
    transition: 0.3s;
}
.container div label input[type="checkbox"]:checked ~ span {
    background: var(--bleuClaire);
}

/*     Le paragraphe et son logo     */

.fa-info {
    margin-right: 15px;
    padding: 5px 10px;
    border: solid var(--grisFonce) 3px;
    border-radius: 50px;
    color: var(--bleu);
}
.infos {
    display: flex;
    align-items: center;
}

/*                      Les étoiles                        */

.icon-bleu {
    color: var(--bleu);
}
.icon-gris {
    color: var(--gris);
}
.star {
    margin-left: 15px;
} 

/*         La couleur de l'icone dans "les plus populaires"           */

.chart-line-bleu {
    color: var(--bleu);
}

/*               Modification de titre et de paragraphe et link             */

.accommodation h4, .accommodation p {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 15px;
}
.popularAccommodation h4 {
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.divPopular p {
    margin-top: 7px;
    margin-bottom: 7px;
}
.itemContainer p {
    font-size: 14px;
    margin-left: 15px;
}
.itemContainer a, .activites a {
    text-decoration: none;
    color: var(--black);
}

/*       L'article contenant les deux sections        */

.itemContainer {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin: 0 50px 0 50px;
}

/*     La section contenant "Hébergement à marseille"     */

.accommodation {
    background: var(--gris);
    border-radius: 20px;
    flex: 2.3;
    padding: 20px;
}

/*     Comportement des boîtes dans "Hébergement à Marseille"     */

.accommodation1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/*     Comportement du titre et du paragraphe par rapport aux étoiles dans les boîtes "Les plus populaires"     */

.divPopular div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*      Les boîtes dans "Hébergement à Marseille" et "Les plus populaires"      */

.divPopular, .accommodation div {
    background: var(--white);
    box-shadow: 0 0 30px var(--grisFonce);
    border-radius: 20px;
    cursor: pointer;

}

/*      Les boîtes dans "Hébergement à Marseille"      */

.accommodation1 a {
    flex: 1;
}
.accommodation1 div {
    min-width: 210px;
    width: 96%;
    height: 96%;
    padding: 5px;
}
.accommodation img {
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

/*     Les boîtes dans "Les plus populaires"     */

.popularAccommodation {
    background: var(--gris);
    border-radius: 20px;
    flex: 1;
    padding: 20px;
}
.popularAccommodation1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.divPopular {
    padding: 5px;
    display: flex;
}
.popularAccommodation img {
    object-fit: cover;
    width: 40%;
    height: 144px;
    border-radius: 20px 0 0 20px;
}

/*       Comportement du titre et du logo dans "Les plus populaires"       */

.logoTitle {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoTitle h2 {
    margin-bottom: 9px;
    margin-top: 9px;
}

/*      Comportement de "Afficher plus" dans "Hébergement à Marseille"      */

.pointeur {
    cursor: pointer;
}
.pointeur {
    margin-top: 60px;
    margin-bottom: 40px;
}

/* Comportement des boîtes dans "Hébergement à Marseille" dans "Les plus populaires" et dans "Les activités à Marseille" au survol */

.accommodation div:hover, .divPopular:hover, .divActivites:hover {
    box-shadow: 0 0 30px var(--bleuBoxShadow);
    transition: 0.3s;
}

/*       Le titre "Activités à Marseille"      */

.activitesH2 {
    margin-left: 50px;
    margin-top: 60px;
}

/*      Comportement des boîtes dans "Activités à Marseille"      */

.activites {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    gap: 50px;
}
.activites a {
    flex: 1;
}
.divActivites {
    max-width: 302px;
    height: 445px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px var(--grisFonce);
    display: flex;
    flex-direction: column;
}
.divActivites img {
    object-fit: cover;
    width: 100%;
    height: 85%;
    border-radius: 20px 20px 0 0;
}
.divActivites h4 {
    margin: auto;
    padding: 5px;
}

/*        Le pied de page         */

.footContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 50px 0 50px;
    padding: 5% 20% 3% 8%;
    background: var(--gris);
}
.footContainer1 {
    margin: 10px;
}
.link {
    display: flex;
    flex-direction: column;
}
.link a {
    text-decoration: none;
    color: var(--black);
    margin-bottom: 12px;
}

/*      Comportement de la page pour une largeur >= 1400px      */

@media screen and (min-width: 1400px) {
    * {
        max-width: none;
    }
    body {
        width: 1400px;
        margin: 8px auto;
    }
}

/*    Comportement de la page pour une largeur <= 992px     */

@media screen and (max-width: 992px) {

/*      Les filtres       */

    .filtre {
        padding-right: 3%;
        transition: 0.5s;
    }
    .container {
        flex-wrap: wrap;
        gap: 20px;
        transition: 0.5s;
    }

/*       L'article contenant les deux sections        */

    .itemContainer {
        flex-direction: column;
        gap: 20px;
        transition: 0.5s;
    }

/*     La section "Les plus populaires"     */

    .popularAccommodation {
        height: 278px;
    }
    .popularAccommodation1 a {
        flex: 1;
    }
    .popularAccommodation1 {
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

/*        L'article "Les activités à Marseille"        */

    .divActivites {
        height: 267px;
        transition: 0.5s;
    }
}

/*       Comportement de la page pour une largeur <= 768px       */

@media screen and (max-width: 768px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }
    header {
        margin-left: 20px;
    }

    .navbar {
        flex-direction: column;
    }
    .navbar img {
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 0;
    }
    .nav-links {
        width: 100%;
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }
    .nav-links > li {
        flex: 1 1 auto;
        display: flex;
        justify-content: space-around;
        min-width: 50%;
        max-width: 50%;
    }
    .btn a {
        text-align: center;
        display: block;
        min-width: 100%;
        padding: 22.5px 0;
        border-bottom: var(--grisFonce) solid 2px;
    }
    .btn a:hover{
        border-top: none;
        border-bottom: var(--bleu) solid 2px;
    }

    .title {
        margin-top: 35px;
    }

/*       Barre de recherche          */

    .btnri {
        padding: 13px 16px;
        border-radius: 0 15px 15px 0;
        background: var(--bleu);
        color: var(--white);
        border: none;
        font-weight: 700;
        cursor: pointer;
        display: inline-block;
    }
    .btnR {
        display: none;
    }

/*       Les filtre          */

    .container {
        transition: 0.3s;
        margin-bottom: 0;
        flex-direction: column;
        align-items: baseline;
        transition: 0.3s;
    }
    .filtre1 {
        flex-wrap: wrap;
    }
    .filtre1 div {
        transition: 0.3s;
        margin-bottom: 40px;
        flex: 1;
    }
    .filtre1 div label {
        display: flex;
    }
    .filtre1 div label span {
        font-size: 11px;
        flex: 1;
    }
    .container div label span i {
        font-size: 17px;
    }

    /*       L'article contenant les deux sections        */

    .itemContainer {
        margin: 0;
    }
    .accommodation {
        order: 2;
    }
    .popularAccommodation {
        order: 1;
        border-radius: 0;
    }
    .popularAccommodation1 {
        flex-direction: column;
    }
    .accommodation {
        background: none;
    }

/*     Comportement de "Afficher plus" dans "Hébergements à Marseille"     */

    .pointeur {
        visibility: hidden;
        margin-top: 0;
    }
  
/*          L'article "Activités à Marseille"          */

    .activites {
        margin: 0 20px 0 20px;
        flex-wrap: wrap;
        gap: 24px;
    }
    .divActivites {
        height: 190px;
        min-width: 230px;
        max-width: 100%;
        transition: 0.3s;
    }
    .divActivites img {
        height: 75%;
        transition: 0.3s;
    }

/*      Pied de page     */

    .footContainer {
        margin: 60px 0 0 0;
        flex-direction: column;
        transition: 0.3s;
        align-items: baseline;
    }
}