/* Auteur : Esteban TEMPLIER */

:root {
    --bleuBoxShadow:#0065fc4f;
    --bleu: #0065fc;
    --bleuClaire: #deebff;
    --gris: #f2f2f2;
    --grisFonce:#d9d9d9;
    --white:#ffffff;
    --black:#000000;
}
* {
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
}
body {
    margin: 8 0 0 0;
}
h1, H2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
.btn {
    list-style: none;
    display: inline;
}
.btn a {
    text-decoration: none;
    color: var(--black);
    padding-top: 22.5px;
    padding-left: 35px;
    padding-right: 35px;
}
a:hover, .link a:hover {
    color: var(--bleu);
}
.btn a:hover{
    border-top: var(--bleu) solid 2px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img {
    margin-left: 50px;
}

header {
    margin-left: 50px;
}
.title {
    margin-top: 47px;
}
.recherche {
    display: flex;
    align-items: center;
}
.icon i, .btnR {
    padding: 14px 16px;
}
.icon i {
    background: var(--gris);
    border-radius: 15px 0 0 15px;
}
.btnri {
    display: none;
}
.btnR {
    border-radius: 0 15px 15px 0;
    background: var(--bleu);
    color: var(--white);
    border: none;
    font-weight: 700;
    letter-spacing: 0.7px;
    cursor: pointer;
}
#search {
    border-color: var(--gris);
    border-style: solid;
    padding: 12px 16px;
}
#search, ::placeholder {
    color: var(--black);
    font-weight: 700;
}
.container {
    margin-top: 40px;
    margin-bottom: 40px;
}
.container, .filtre1 {
    display: flex;
    align-items: center;
    font-weight: 700;
}
.container div label {
    cursor: pointer;
}
.container div label input[type="checkbox"] {
    display: none;
}
.container div label span {
    border: solid var(--grisFonce) 3px;
    border-radius: 25px;
    padding: 10px 20px;
    user-select: none;
    flex-wrap: nowrap;
}
.container div label span:hover {
    background: var(--bleuClaire);
    transition: 0.3s;
}
.container div label input[type="checkbox"]:checked ~ span {
    background: var(--bleuClaire);
}
.container div label span i {
    padding-right: 5px;
    color: var(--bleu);
}
.filtre {
    padding-right: 45px;
    white-space: nowrap;
}
.container h3 {
    margin: 0;
}
.fa-info {
    margin-right: 15px;
    padding: 5px 10px;
    border: solid var(--grisFonce) 3px;
    border-radius: 50px;
    color: var(--bleu);
}
.infos {
    display: flex;
    align-items: center;
}

/*                      Les étoiles                        */

.icon-bleu {
    color: var(--bleu);
}
.icon-gris {
    color: var(--gris);
}
.star {
    margin-left: 15px;
} 

/*         La couleur de l'icone dans "les plus populaires"           */

.chart-line-bleu {
    color: var(--bleu);
}

/*               Modification de titre et de paragraphe et link             */

.accommodation h4, .accommodation p {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 15px;
}
.popularAccommodation h4 {
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.divPopular p {
    margin-top: 7px;
    margin-bottom: 7px;
}
.itemContainer p {
    font-size: 14px;
    margin-left: 15px;
}
.itemContainer a, .activites a {
    text-decoration: none;
    color: var(--black);
}



.itemContainer {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin: 0 50px 0 50px;
}

.divPopular, .accommodation div {
    background: var(--white);
    box-shadow: 0 0 30px var(--grisFonce);
    border-radius: 20px;
    cursor: pointer;

}
.divPopular div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.accommodation {
    background: var(--gris);
    border-radius: 20px;
    flex: 2.3;
    padding: 20px;
}
.accommodation1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.accommodation1 a {
    flex: 1;
}
.accommodation1 div {
    min-width: 210px;
    width: 96%;
    height: 96%;
    padding: 5px;
}
.accommodation img {
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}
.pointeur {
    cursor: pointer;
}


.popularAccommodation {
    background: var(--gris);
    border-radius: 20px;
    flex: 1;
    padding: 20px;
}
.popularAccommodation1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.divPopular {
    padding: 5px;
    display: flex;
}
.popularAccommodation img {
    object-fit: cover;
    width: 40%;
    height: 144px;
    border-radius: 20px 0 0 20px;
}

.logoTitle {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoTitle h2 {
    margin-bottom: 9px;
    margin-top: 9px;
}
.pointeur {
    margin-top: 60px;
    margin-bottom: 40px;
}


.accommodation div:hover, .divPopular:hover, .divActivites:hover {
    box-shadow: 0 0 30px var(--bleuBoxShadow);
    transition: 0.3s;
}


.divActivites {
    max-width: 302px;
    height: 445px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px var(--grisFonce);
    display: flex;
    flex-direction: column;
    flex: 1;
}
.divActivites img {
    object-fit: cover;
    width: 100%;
    height: 85%;
    border-radius: 20px 20px 0 0;
}
.divActivites h4 {
    margin: auto;
    padding: 5px;
}
.activites {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    gap: 50px;
}
.activites a {
    flex: 1;
}
.activitesH2 {
    margin-left: 50px;
    margin-top: 60px;
}
.footContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 50px 0 50px;
    padding: 5% 20% 3% 8%;
    background: var(--gris);
}
.footContainer1 {
    margin: 10px;
}
.link {
    display: flex;
    flex-direction: column;
}
.link a {
    text-decoration: none;
    color: var(--black);
    margin-bottom: 12px;
}
@media screen and (min-width: 1400px) {
    * {
        max-width: none;
    }
    body {
        width: 1400px;
        margin: 8px auto;
    }
}
@media screen and (max-width: 992px) {
    .filtre {
        padding-right: 3%;
        transition: 0.3s;
    }
    .container {
        flex-wrap: wrap;
        gap: 20px;
    }
    .itemContainer {
        flex-direction: column;
        gap: 20px;
    }
    .popularAccommodation {
        height: 278px;
    }
    .popularAccommodation1 a {
        flex: 1;
    }
    .popularAccommodation1 {
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }
    .divActivites {
        height: 267px;
        transition: 0.3s;
    }
}
@media screen and (max-width: 768px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }
    header {
        margin-left: 20px;
    }
    .navbar {
        flex-direction: column;
    }
    .navbar img {
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 0;
    }
    .nav-links {
        width: 100%;
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }
    .nav-links > li {
        flex: 1 1 auto;
        display: flex;
        justify-content: space-around;
        min-width: 50%;
        max-width: 50%;
    }
    .btn a {
        text-align: center;
        display: block;
        min-width: 100%;
        padding: 22.5px 0;
        border-bottom: var(--grisFonce) solid 2px;
    }
    .btn a:hover{
        border-top: none;
        border-bottom: var(--bleu) solid 2px;
    }
    .title {
        margin-top: 35px;
    }
    .btnri {
        padding: 13px 16px;
        border-radius: 0 15px 15px 0;
        background: var(--bleu);
        color: var(--white);
        border: none;
        font-weight: 700;
        cursor: pointer;
        display: inline-block;
    }
    .btnR {
        display: none;
    }
    .container {
        transition: 0.3s;
        margin-bottom: 0;
        flex-direction: column;
        align-items: baseline;
        transition: 0.3s;
    }
    .filtre1 {
        flex-wrap: wrap;
    }
    .filtre1 div {
        transition: 0.3s;
        margin-bottom: 40px;
        flex: 1;
    }
    .filtre1 div label {
        /* flex: 1; */
        display: flex;
    }
    .filtre1 div label span {
        /* padding: 10px 100px 10px 10px; */
        font-size: 11px;
        flex: 1;
    }
    .container div label span i {
        font-size: 17px;
    }
    #economiqueSpan {
        padding-right: 54px;
    }
    #familialSpan {
        padding-right: 79px;
    }
    #romantiqueSpan {
        padding-right: 56px;
    }
    #animauxAutorisésSpan {
        padding-right: 23px;
    }
    .itemContainer {
        margin: 0;
    }
    .accommodation {
        order: 2;
    }
    .popularAccommodation {
        order: 1;
        border-radius: 0;
    }
    .popularAccommodation1 {
        flex-direction: column;
    }
    .accommodation {
        background: none;
    }
    .pointeur {
        visibility: hidden;
        margin-top: 0;
    }
    .activites {
        margin: 0 20px 0 20px;
        
        flex-wrap: wrap;
        gap: 24px;
    }
    .activites a {
        
    }
    .divActivites {
        height: 190px;
        min-width: 230px;
        max-width: 100%;
        transition: 0.3s;
    }
    .divActivites img {
        height: 75%;
        transition: 0.3s;
    }
    .footContainer {
        margin: 60px 0 0 0;
        flex-direction: column;
        transition: 0.3s;
        align-items: baseline;
    }
}